<!-- Footer -->
<footer>
    <div class="col-md-12 col-sm-12">
    <p class="social-text">
          <span></span>
          <i>For more details leading up to our launch <br/>check our Twitter</i>
      </p>
      <div class="social-icons">
        <a href="#"><%=fa_icon "twitter-square"%></a>
      </div>
      <small><i>&copy;<%=Time.now.year%> BailBetter. All rights reserved.</i></small>
  </div><!--/12-->
</footer>
<!-- /Footer -->